{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "plugins": ["vue","@typescript-eslint", "sonarjs", "promise"],
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",

    // https://github.com/SonarSource/eslint-plugin-sonarjs
    "plugin:sonarjs/recommended",

    // https://github.com/xjamundx/eslint-plugin-promise
    "plugin:promise/recommended",

    // https://github.com/freaktechnik/eslint-plugin-array-func
    "plugin:array-func/all",

    // https://github.com/import-js/eslint-plugin-import
    "plugin:import/recommended",
    "plugin:import/typescript",

    "plugin:@typescript-eslint/recommended",
    "@nuxtjs/eslint-config-typescript",
    "prettier"
  ],
  "rules": {
    "capitalized-comments": "off",
    "prefer-promise-reject-errors": "off",

    "@typescript-eslint/explicit-function-return-type": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "warn",
    "@typescript-eslint/no-explicit-any": "warn",

    "no-console": "warn",
    "no-debugger": "warn",

    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "sibling",
          "parent",
          "index",
          "object",
          "type"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "overrides": [
    // as long as https://github.com/nuxt/eslint-config/pull/211 is not merged:
    {
      "files": [
        "src/pages/**/*.vue",
        "src/layouts/**/*.vue",
        "src/app.vue",
        "src/error.vue"
      ],
      "rules": {
        "vue/multi-word-component-names": "off"
      }
    },
    {
      "files": [
        "src/components/**/*.vue",
        "src/pages/**/*.vue",
        "src/layouts/**/*.vue",
        "src/app.vue",
        "src/error.vue"
      ],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off"
      }
    }
  ]
}
